*{
  margin: 0;
}
body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  height: 100vh;
  background-color: #151515;
}
.navbar{
  width: 100%;
  height: 70px;
  background-color:black;
}
.navbar-container{
  display: flex;
  align-items: center;
  padding:  0 50px;
  height: 100%;
}
.logo-container{
flex: 1;
}
.logo{
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-left: 4rem;
  margin-top: 1.6rem;
  border-radius: 50%;
}
.menu-container{
flex: 6;
}
.menu-list{
  display: flex;
  list-style: none;
}
.menu-list-items{
  margin-right: 30px;
}
.menu-list-items.active{
  font-weight:bolder;
}
.profile-container{
flex: 2;
display: flex;
align-items: center;
}
.profile-text-container{
  margin: 0 20px;
}
.profile-pic{
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}
.sidebar{
  width: 50px;
  height: 100%;
  background:  black;
  position: fixed;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
}
.left-menu-sidebar{
  color: white;
  font-size: 20px;
}
.container{
  background-color: #151515;
  min-height: calc(100vh - 50px);
  
}
/* .content-container{
  margin-left:50px ;
} */
.featured-art{
  height: 50vh;
padding: 50px;
}
.movie-list-container{
  padding: 20px;
margin: 50px;
}
.movie-list{
  display: flex;
  height: 300px;
  align-items: center;
}
.movie-list-wrapper{
  position: relative;
}
.movie-list-item{
  margin-right: 30px;
}
.movie-list-item:hover .movie-list-item-img{
  transform: scale(1.2);
}
.movie-list-item-img{
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  border-radius: 10px;
  
}

.movie-list-title{
  color:white;
  margin-left: 25px;
}
.price{
  color: tomato;
  margin: 3px;
}
.movie-list-item-button{
  background-color:#ccc;
  width: 120px;
  height: 30px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.arrow{
  font-size: 120px;
  position: absolute;
  top: 50px;
  right: 0;
  color: rgb(248, 246, 246);
  opacity: .5;
  cursor: pointer;
}

/*footer section*/

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  background:linear-gradient(to right, #2e2e2e,#021f35);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 12px;
  line-height: 20px;
  margin-left:3rem;
  margin-right: 4rem;
 }
 .row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
 }
 .col{
  flex-basis: 25%;
  padding: 10px;
 }
 .col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
 }
 .logo{
  width: 80px;
  margin-bottom: 30px;
  border-radius: 50%;
 }
 .col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
 }
.email{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;

}
form .far{
  font-size: 18px;
  margin-right: 10px;
}
form input{
width: 100%;
background: transparent;
color:#ccc;
border:0;
outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.social-icons .fab{
width: 40px;
height: 40px;
border-radius: 50%;
text-align:center;
line-height: 40px;
font-size: 20px;
color: #000;
background: #fff;
margin-right: 15px;
cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border: 1px solid #ccc;
  margin: 20px auto;
}
.copy{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top:25px;
  left:0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height:100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top:0;
  left:10px;
} 

